<div class="login-page">
  <mat-card class="mat-elevation-z12">
    <mat-tab-group mat-stretch-tabs class="example-stretched-tabs" animationDuration="200ms" *ngIf="!isLoggedIn">
      <mat-tab label="Sign In">
        <mat-card-content>
          <form [formGroup]="loginForm" (ngSubmit)="Login()">

            <mat-form-field>
              <input matInput placeholder="Username"  required name="username" type="text" formControlName="username" id="username">
              <mat-error *ngIf="loginForm.status">Username is required</mat-error>
              <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password"  required minlength="6" name="password" id="password" formControlName="password">
              <mat-error *ngIf="loginForm.value.password.length == 0">
                Password is required
              </mat-error>
              <mat-error *ngIf="!(loginForm.value.password.length > 6)">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="primary" class="login-button" [disabled]="!loginForm.valid">
              Log In
            </button>
          </form>
        </mat-card-content>
      </mat-tab>

      <mat-tab label="Sign Up">
        <mat-card-content>
          <form [formGroup]="signupForm" (ngSubmit)="Signup()">

            <mat-form-field>
              <input matInput placeholder="Username"  required name="username" type="text" formControlName="username" id="username">
              <mat-error *ngIf="signupForm.status">Username is required</mat-error>
              <mat-icon matSuffix>account_box</mat-icon>
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Password" type="password"  required minlength="6" name="password" id="password" formControlName="password">
              <mat-error *ngIf="signupForm.value.password.length == 0">
                Password is required
              </mat-error>
              <mat-error *ngIf="!(signupForm.value.password.length > 6)">
                Password must be of length 6
              </mat-error>
              <mat-icon matSuffix>lock</mat-icon>
            </mat-form-field>

            <button mat-raised-button color="primary" class="login-button" [disabled]="!signupForm.valid">
              Sign Up
            </button>
          </form>
        </mat-card-content>
      </mat-tab>
      
    </mat-tab-group>
  </mat-card>
</div>