.card-container {
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin: 20px;
  gap: 3em;
}

.category-container {
  margin: 1%;
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin: 20px;
  gap: 1em;
  color: #fafafa;
  font-weight: lighter;
}

.category-container .name {
  font-size: 2em;
}

.btn {
  bottom: 0.5em;
  left: 0.5em;
}