.img-container {
    position: relative;
    width: 17vh;
    height: 24vh;
    border-radius: 5%;
    transition: all 0.25s ease-in-out;
}

.img-container:hover {
    scale: 1.07;
}

img {
    border-radius: 5%;
    width: 17vh;
    height: 24vh;
}

.overlay {
    width: 17vh;
    height: 24vh;
    display: inline-block;
    color: transparent;
    background-color: transparent;
    border-radius: 5%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.2s ease-in-out;
}

.overlay .highlight {
    mask-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0) 45%, rgb(0, 0, 0) 90%, rgba(0, 0, 0) 100%);
    width: 17vh;
    height: 24vh;
    display: inline-block;
    color: transparent;
    background-color: transparent;
    border-radius: 5%;
    position: absolute;
    bottom: 0px;
    left: 0px;
    transition: all 0.8s ease-in-out;
    
}

.overlay:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);

}

.overlay .highlight:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);

}

.content {

    padding: 5px;
    text-align: center;
    pointer-events: all;
}



.example-spacer {
    flex: 1 1 auto;
}