.img-container {
    position: relative;
    aspect-ratio: 10/15;
    width: 16.5vh;
    transition: all 0.25s ease-in-out;
    border-radius: 15px;
    overflow: hidden;
}

.img-container:hover {
    scale: 1.07;
}

img {
    width: 100%;
    height: 100%;
    bottom: 0px;
    top: 0px;
}

.overlay {
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: transparent;
    
    position: absolute;
    bottom: 0px;
    top : 0px;
    transition: all 0.2s ease-in-out;
}

.overlay .highlight {
    mask-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0, 0) 45%, rgb(0, 0, 0) 90%, rgba(0, 0, 0) 100%);
    width: 100%;
    height: 100%;
    color: transparent;
    background-color: transparent;
    
    position: absolute;
    bottom: 0px;
    top: 0px;
    transition: all 0.8s ease-in-out;
    
}

.overlay:hover {
    color: white;
    background-color: rgba(0, 0, 0, 0.6);

}

.overlay .highlight:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.3);

}

.content {

    text-align: center;
    pointer-events: all;
}




