.example-spacer {
  flex: 1 1 auto;
}

.hideShowToolbar {
  -webkit-transition: all .5s ease-in-out !important;
  -moz-transition: all .5s ease-in-out !important;
  -o-transition: all .5s ease-in-out !important;
  transition: all .5s ease-in-out !important;
  

}

.hideToolbar {
  height: 0px;
  overflow: hidden;
  color: transparent;
}

.showToolbar {
  overflow: hidden;
}