.example-spacer {
  flex: 1 1 auto;
}

.hideShowToolbar {
  -webkit-transition: all .25s ease-in-out !important;
  -moz-transition: all .25s ease-in-out !important;
  -o-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important;
  

}

.hideToolbar {
  height: 0px;
  overflow: hidden;
  color: transparent;
}

.showToolbar {
  overflow: hidden;
}

.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}