.example-spacer {
  flex: 1 1 auto;
}

.hideShowToolbar {
  -webkit-transition: all .25s ease-in-out !important;
  -moz-transition: all .25s ease-in-out !important;
  -o-transition: all .25s ease-in-out !important;
  transition: all .25s ease-in-out !important;
}

.hideToolbar {
  height: 0px;
  overflow: hidden;
  color: transparent;
}

.showToolbar {
  overflow: hidden;
}

.fixed-navbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  background-image: linear-gradient(to bottom, #000000 0%, #00000000 100%);
  
  background-color: transparent;
}

.button-highlighted{
  background-image: linear-gradient(to right bottom, #fb00ff 0%, #ff0048 100%);
  color: #ffffff;
  scale: 1.1;
  margin: 10px;
  transition: all .25s ease-in-out !important;
}

.button-normal{
  margin: 10px;
  color: #ffffff;
  transition: all .25s ease-in-out !important;
}
.button-normal:hover{
  scale: 1.1;
}

.settings-button{
  
  transition: all .5s ease-in-out !important;
}

.settings-button:hover{
  transform: rotate(180deg);
}